	*{
		margin: 0;
		padding: 0;
	}
	body{
		position: fixed;
		height: 100%;
		width:100%;
		background-color:antiquewhite;
	}
	.spaceGrid{
		display:inline-block;
		height: 100%;
		width:calc(100%/3*0.85);
		margin:none;
	}
	#leftSide{
		width:calc(100%/3*1.30);
		background-color:chocolate;
	}
	#leftSide section:first-child{
		width:100%;
		height:50%;
		background-color:red;
	}
	#leftSide section div{
		display: inline-block;
		width:calc(100%/2);
		height:50vh;
		background-color:darkseagreen;
	}
	#leftSide section div:nth-child(even){
		background-color:indianred;
	}
	#center{
		background-color:darkkhaki;
	}
	#right{
		background-color:greenyellow;
	}
	#right div{
		width:100%;
		height:70%;
		background-color:yellow;
	}
	#right div:nth-child(even){
		background-color:red;
		height:30%;
	}