.WidgetGrand{
    width: 700px;
    height: 250px;
    border: solid 1px #ccc;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.5);
}
.WidgetMoyen{
    width: 550px;
    height: 250px;
    border: solid 1px #ccc;
    overflow: hidden;
    background-color: rgba(0, 255, 0, 0.5);
}
.WidgetPetit{
    width: 300px;
    height: 250px;
    border: solid 1px #ccc;
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0.5);
}
.WidgetMoyen>#widget_2283b64454088d82e0ea206c70ca219e{
    height: 120px;
    width: 475px;
}
#date_heure{
    font-size: 25px;
}
#WidgetMeteo{
    height: 80px;
    width: 490px;
    border: solid 1px #ccc;
}
#myChart{
    background-color: aqua;
}
/*
.drag:hover{
    cursor: all-scroll;
}*/


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
